@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Bright-blue-pale: hsl(245, 65%, 65%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-color: var(--Pale-blue);
}

.card {
  display: flex;
  flex-direction: column;
  width: 450px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

.card__image {
  margin-bottom: 4.5rem;
  border-radius: 20px 20px 0 0;
}

.card__title {
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--Dark-blue);
  margin-bottom: 1.7rem;
}

.card__description {
  width: 32rem;
  margin-bottom: 2rem;
  color: var(--Desaturated-blue);
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.6rem;
  text-align: center;
}

.card__offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35rem;
  height: 10rem;
  margin-bottom: 3rem;
  padding: 22px;
  background-color: var(--Very-pale-blue);
  border-radius: 12px;
}

.offer__icon {
  height: 4.5rem;
  margin-right: 2rem;
}

.offer__plan {
  width: 20rem;
  margin-right: 7rem;
}

.plan__title {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  color: var(--Dark-blue);
}

.plan__price {
  color: var(--Desaturated-blue);
  font-weight: 500;
}

.offer__change {
  font-size: 1.5rem;
  font-weight: 900;
}

.offer__change:hover {
  text-decoration: none;
  color: var(--Bright-blue-pale);
}

.card__button {
  width: 35rem;
  height: 5rem;
  border: none;
  border-radius: 12px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}

.card__button--payment {
  margin-bottom: 2rem;
  background-color: var(--Bright-blue);
  color: white;
  -webkit-box-shadow: 1px 17px 26px -1px rgba(0,0,0,0.28);
  -moz-box-shadow: 1px 17px 26px -1px rgba(0,0,0,0.28);
  box-shadow: 1px 17px 26px -1px rgba(0,0,0,0.28);
}

.card__button--payment:hover {
  background-color: var(--Bright-blue-pale);
}

.card__button--cancel {
  background-color: transparent;
  color: var(--Desaturated-blue);
  margin-bottom: 3rem;
  
}

.card__button--cancel:hover {
  color: var(--Dark-blue);
}

@media (max-width: 375px)